.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-content, .helper-text {
  width: 80%;
  margin: 3% auto;
  padding: 1% 5%;
  background: #acadb9;
  border-radius: 7px;
}

.helper-text {
  background: #61626d;
  opacity: 0.7;
}

.home-content h2 {
  color: #555555;
  font-size: 1.4em;
}

.helper-text h2 {
  color: #babfd6;
  font-size: 1.4em;
}

.helper-text {
  font-size: 1.0em;
  line-height: 1.5em;
  color: #babfd6;
}

.helper-text p, .helper-text span{
  font-family: 'Open Sans', sans-serif;
}

.helper-text p {
  margin: 10px 0;
}

.indent-text {
  margin-left: 10px;
}
.login-form {
  margin-bottom: 20px;
}

.login-form label {
  color: #2a2a2e;
  font-weight: 600;
}
.reg-link a{
  color: #0921bd;
}

.reg-link a:hover {
  color: rgb(85, 85, 238);
}

.landing-text {
  margin: 0 8px;
  color: #2a2a2e;
}